{% extends "base.html" %}
{% block content %}

<form action="" method="post" class="form-signin">
  {% for error in form.errors %}
    <div class="alert alert-info">Please insert {{error}}</div>
  {% endfor %}
  {{form.hidden_tag()}}
  {{form.subject(class_='form-control')}}
  {{form.priority(class_='form-control')}}
  {{form.deadline(class_='form-control')}}
  <input class="btn btn-primary btn-block" type="submit" value="Add">
</form>

<h2 class="text-center">Todo</h2>
<table class="table">
  <tr><th>Priority</th><th colspan="2">Task</th><th>Deadline</th><th>Options</th></tr>
  {% for item in todo %}
    {% if item.priority == 0 %}<tr class="success">
    {% elif item.priority == 1 %}<tr class="active">
    {% elif item.priority == 2 %}<tr>
    {% elif item.priority == 3 %}<tr class="danger">
    {% endif %}
      <td>
        <a href="{{url_for('done', id = item.id)}}"><i class="fa fa-check-square fa-lg text-success"></i></a>
        <span class="label label-{% if item.priority == 0 %}success">done{% elif item.priority == 1 %}default">low{% elif item.priority == 2 %}primary">normal{% elif item.priority == 3 %}danger">high{% endif %}</span>
      </td>
      <td colspan="2">{{item.subject}}</td>
      <td>{{item.deadline}}</td>
      <td><a href="{{url_for('delete', id = item.id)}}"><i class="fa fa-trash-o fa-lg text-danger"></i></a></td>
  {% endfor %}
</table>
<script>
  $('#deadline').datetimepicker({
    controlType: 'select',
    timeFormat: 'HH:mm',
    dateFormat: 'dd.mm.yy'
  });
</script>
{% endblock %}
